{% extends 'cal/base.html' %}



{% block title %}
	<h2 class="calendar-header">CVTS Scheduling</h2>
	{% if user.is_authenticated %}
		<div class="clearfix">
			<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
			<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
			{% if user.boolean %}
				<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> New Shift </a>
			{% endif %}
		</div><br>



		{{ calendar }}
	{% elif not user.is_authenticated %}
		<div class="clearfix">
			Please Sign In!
		</div>
	{% endif %}
{% endblock %}