{% extends 'cal/base.html' %}

{% block title %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <!-- Static Header -->
                <div class="header-text">
                    <div class="text-left">
                        <h1>Make Your Clinic Work For You.</h1>
                        <p>As Chicago’s first and largest veterinary staffing agency, we’re dedicated to providing your clinic with highly skilled <br/>professionals well-matched to your unique hiring requirements and workplace environment. </p>
                        <a href="http://chicagocvts.com/home/about/" class="btn btn-primary btn-header1">Find Out More</a>
                        <a href="http://chicagocvts.com/contact/" class="btn btn-primary btn-header2">Contact Us</a>
                    </div>
                </div><!-- /header-text -->
            </div>
            <div class="col-md-7 pull-right">
                <img style="margin-top: 60px;" src="images/header-man.png" class="img-responsive" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}